body{
    box-sizing: border-box;
}

#logo{
    margin-top: 10px;
}



.displayNone{
    display: none;
}

.contenedor-formulario{
    height: 70vh;
    background-color: rgb(232, 236, 236);
    padding: 10vh 30vw;
}

.contenedor-formulario h1{
    text-align: center;
}

.contenedor-formulario form{
    background-color: rgb(195, 199, 199);
}

.centrar-btn{
    display: grid;
    justify-items: center;
    margin: 15px 0;
}

.centrar-btn button{
    width: 10vw;
}